
KetchupCatalog/\.vs/KetchupCatalog/DesignTimeBuild/\.dtbcache

KetchupCatalog/\.vs/KetchupCatalog/v15/Server/sqlite3/

KetchupCatalog/\.vs/KetchupCatalog/v15/\.suo

*.cache

KetchupCatalog/BLC/obj/Debug/

KetchupCatalog/Core/obj/Debug/

KetchupCatalog/DAOMock/obj/Debug/

KetchupCatalog/DAOMock2/obj/Debug/

KetchupCatalog/Interfaces/obj/Debug/

KetchupCatalog/KetchupCatalogUI/obj/Debug/

KetchupCatalog/ConsoleCatalog/obj/Debug/

KetchupCatalog/BLC/obj/Release/

KetchupCatalog/ConsoleCatalog/bin/Debug/

KetchupCatalog/ConsoleCatalog/bin/Release/

KetchupCatalog/ConsoleCatalog/obj/Release/

KetchupCatalog/BLC/bin/Debug/

KetchupCatalog/BLC/bin/Release/

KetchupCatalog/Core/bin/Debug/

KetchupCatalog/Core/bin/Release/

KetchupCatalog/Core/obj/Release/

KetchupCatalog/DAOMock/bin/Debug/

KetchupCatalog/DAOMock/bin/Release/

KetchupCatalog/DAOMock/obj/Release/

KetchupCatalog/DAOMock2/bin/Debug/

KetchupCatalog/DAOMock2/bin/Release/

KetchupCatalog/DAOMock2/obj/Release/

KetchupCatalog/Interfaces/bin/Debug/

KetchupCatalog/Interfaces/bin/Release/

KetchupCatalog/Interfaces/obj/Release/

KetchupCatalog/KetchupCatalogUI/obj/Release/

KetchupCatalog/KetchupCatalogUI/bin/Debug/
