
KetchupCatalog/\.vs/KetchupCatalog/DesignTimeBuild/\.dtbcache

KetchupCatalog/\.vs/KetchupCatalog/v15/Server/sqlite3/

KetchupCatalog/\.vs/KetchupCatalog/v15/\.suo

*.cache

KetchupCatalog/BLC/obj/Debug/

KetchupCatalog/Core/obj/Debug/

KetchupCatalog/DAOMock/obj/Debug/

KetchupCatalog/DAOMock2/obj/Debug/

KetchupCatalog/Interfaces/obj/Debug/

KetchupCatalog/KetchupCatalogUI/obj/Debug/
